<ngx-dropzone (change)="onSelectMain($event)" [multiple]="false">
  <ngx-dropzone-label>Drop the main language file here</ngx-dropzone-label>
  <ngx-dropzone-preview
    *ngIf="mainFile"
    [removable]="true"
    (removed)="onRemove(mainFile)"
  >
    <ngx-dropzone-label
      >{{ mainFile.name }} ({{ mainFile.type }})</ngx-dropzone-label
    >
  </ngx-dropzone-preview>
</ngx-dropzone>

<ngx-dropzone
  (change)="onSelectAdditional($event)"
  [multiple]="true"
  [disabled]="!mainFile"
>
  <ngx-dropzone-label
    >Drop the additional language files here</ngx-dropzone-label
  >
  <ngx-dropzone-preview *ngFor="let f of additionalFiles" [removable]="true">
    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone>

<table>
  <tr *ngFor="let translationLine of translationLines | keyvalue">
    <td>
      {{ translationLine.key }}
    </td>
    <td *ngFor="let translation of translationLine.value">
      <input type="text" [value]="translation" size="90" />
    </td>
  </tr>
</table>
